<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tests</title>
        <script src='/js/harness.js'></script>
        <style>
            a {
                color:#06c;
                text-decoration:underline;
            }
            a:focus, a:hover {
                color:#09f;
            }
            .suite-list {
                -webkit-column-gap: 20px;
                -moz-column-gap: 20px;
                column-gap: 20px;
            }
            @media only screen and (min-width: 700px) {
                .suite-list {
                    -webkit-columns: 2;
                    columns: 2;
                }
            }
            @media only screen and (min-width: 1000px) {
                .suite-list {
                    -webkit-columns: 3;
                    -moz-columns: 3;
                    columns: 3;
                }
            }
            .suite {
                padding-bottom: 20px;
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            }
            .suite-title {
                font-size: 1.2em;
                font-weight: bold;
            }
            ul {
                list-style-type: none;
            }
            iframe {
                width: 100vw;
                height: 100vh;
                position: absolute;
                left: -10000px;
            }
            [test-report] {
                line-height: 1.4em;
                position: relative;
            }
            [test-report]:before {
                content: "\25CB";
                text-decoration: none;
                color: #aaa;
                text-align: center;
                width: 15px;
                position: absolute;
                display: block;
                left: -20px;
            }
            [test-report].success:before {
                content: "\2713";
                color: green;
            }
            [test-report].failure:before {
                content: "\2717";
                color: red;
            }
            [test-report].skipped:before {
                content: "\2012";
                color: #0AF;
            }
            [test-report].running:before {
                animation: spin 3s linear infinite;
                content: "\25CC";
                font-weight: bold;
                color: #666;
            }
            @keyframes spin {
                100% { transform: rotate(360deg); }
            }
            .error {
                background: #fbe3e4;
                color: #8a1f11;
                border: 2px solid #fbc2c4;
                padding: 0.8em;
                margin: 5px 0;
            }
        </style>
    </head>
    <body>

        <ul id='failures'>
        </ul>

        <ul class='suite-list'>
            {{#each suites}}
                <li class='suite'>
                    <a class='suite-title' href='{{url}}'>{{suite}}...</a>
                    <ul>
                        {{#each tests}}
                            <li>
                                <a test-report='{{testId}}'
                                    href='{{url}}'>{{test}}</a>
                                <script type='base64/html'
                                    {{#skip}}test-skip{{/skip}}
                                    test-case='{{testId}}'
                                    test-name='{{../suite}} {{test}}'
                                    test-url='{{url}}'>{{content}}
                                </script>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>

        <script>
            window.global_load_urls = [];
            Harness.start(
                function onComplete (results) {
                    window.global_test_results = results;
                },
                function onError (result, url) {
                    window.global_load_urls.push(url);

                    var link = document.createElement("a");
                    link.textContent = result.name;
                    link.href = url;
                    link.className = "failure";

                    var message = document.createElement("div");
                    message.textContent = result.message;
                    message.className = "error";

                    var container = document.createElement("li");
                    container.appendChild(link);
                    container.appendChild(message);

                    document.getElementById("failures").appendChild(container);
                }
            );
        </script>
    </body>
</html>
