<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='/js/runner.js'></script>
        {{#each js}}
            <script src='/js/user/{{this}}'></script>
        {{/each}}
        {{#stylize}}
            <title>{{name}}</title>
            <style>
                body.success:before {
                    background: #e6efc2;
                    color: #264409;
                    content: "Test Passed";
                }

                .failure {
                    background: #fbe3e4;
                    color: #8a1f11;
                }

                body.success:before,
                .failure {
                    display: block;
                    padding: 0.8em;
                    margin-bottom: 0.8em;
                }
            </style>
        {{/stylize}}
    </head>
    <body>
        {{{html}}}
        <script>
            define(["runner"], function(runner) {
                runner(document.title, {{testId}}, {{{setup}}}, {{{logic}}});
            });
        </script>
    </body>
</html>

